<%- include('header', {cssFile: "style.css", currUser: currentUser.username}) -%>

    <!-- INTRO -->
    <section class="introSection">
        <h1 class="title">DRINK UP</h1> 
    </section> 

    <!-- FEATURED -->
    <section class="featuredSection">
        <h1 class="sectionTitle">FEATURED</h1>
        <div class="featuredCollection">
          <% for (item of bevFeatured) { %>
                <!-- item -->
                <a href="./beverage/<%= item.id %>" class="featuredItem" style="text-decoration: none;">
                    <div class="card">
                        <img src="images/filler.jpg" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title"><%= item.name %></h5>
                        </div>
                    </div>
                </a>
          <% } %>
        </div>
    </section>

    <!-- ABOUT -->
    <section class="aboutSection">
        <h1 class="sectionTitle">ABOUT</h1>
        <p class="aboutText">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nam recusandae modi quis, perferendis sit voluptatum neque maxime expedita sequi ipsum sint tempora architecto quia nobis facere tempore? Ea, magni.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem, odit officiis quae eligendi dolores deleniti, alias distinctio veniam quis eaque corporis magnam dolore perferendis beatae ratione. Asperiores maxime sequi recusandae!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo nisi ex rem ratione, similique quae porro, in deserunt quasi, dolore quam velit blanditiis? Assumenda nulla, ipsa modi quos officia accusamus.
        </p>
    </section>

    <!-- WEB TO DO -->
    <section class="todoSection">
        <h1 class="sectionTitle">TO DO</h1>
        <p class="todoText">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nam recusandae modi quis, perferendis sit voluptatum neque maxime expedita sequi ipsum sint tempora architecto quia nobis facere tempore? Ea, magni.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem, odit officiis quae eligendi dolores deleniti, alias distinctio veniam quis eaque corporis magnam dolore perferendis beatae ratione. Asperiores maxime sequi recusandae!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo nisi ex rem ratione, similique quae porro, in deserunt quasi, dolore quam velit blanditiis? Assumenda nulla, ipsa modi quos officia accusamus.
        </p>
    </section>

<%- include('footer') -%>