


:root {

    /* Font Style */
    /* --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace; */
    /* Argentum Sans */
    

    /* Font Weight */
    --fw-reg: 300;
    --fw-bold: 900;
    
    /* Border Radius */
    --corners: 5px;

    /* Colors */
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-primary: #e13859;
    --clr-accent: #33bc9d;
    --clr-second: #342b26;
    --clr-tinted: #6d6d6d;
    --clr-darkTint: #343939;
    --clr-bg: #eeeeee;


    /* Box Shadow */
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}


body{
    background-color: var(--clr-bg) !important;
    color: #342b26 !important;
}

/* Nav Bar */
.topNavBar{
    background-color: white;
    overflow: hidden;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 5px;
    height: 70px;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  .logoImage{
    width: 220px;
    transform: translate(-20px,-35px);
  }
  
  .midNav{
    color: var(--clr-dark);
    padding-top: 10px;
    text-align: center;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  .rightNav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    float: right;
    align-items: center;
  }
  
  .navProfileName{
    text-align: end;
    transform: translateY(4px);
  }
  
  .navBarText{
    text-decoration: none;
    color: var(--clr-second);
  }
  
  .navBarText:hover{
    color: var(--clr-primary) ;
  }
  
  .navText{
    font-weight: bolder;
  }
  
  .profileButton{
    /* display: block; */
    background: none;
    border: none;
    color: var(--clr-primary);
    z-index: 1;
  }
  
  .profileButton:hover{
    color: var(--clr-accent);
  }


/* Content */
.content{
    height: auto;
    width: 1000px;
    margin-top: 70px !important;
    background-color: white;
    margin: auto;
    border-radius: var(--corners);
    padding: 50px 50px 50px 50px;
    margin-bottom: 50px;
    overflow: hidden;
}

#drink-name{
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 0px !important;
}

#author{
    font-size: 20px;
    font-weight: 400;
}

#stars{
    float: right;
}

#drink-header{
    border-bottom: 2px solid black;
}

#header-btn{
    margin-top: 10px;
    border-bottom: 2px solid black;
}

#btn{
    font-weight: bold;
    font-size: 20px;
}

#profile-photo{
    background-color: #e13859;
    margin: auto;
    width: 900px;
    height: 500px;
    margin-top: 20px;
    border-radius: var(--corners);
}

#photo-title{
    color: white;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    padding-top: 200px;
}

#desc{
    margin-top: 30px !important;
    border-bottom: 2px solid black;
}

#desc-text{
    font-style: italic;
    font-size: 30px;
}

#ingred-section{
    padding-top: 30px;
}

#ingred-photo{
    background-color: #33bc9d;
    margin: auto;
    width: 900px;
    height: 500px;
    margin-top: 20px;
    border-radius: var(--corners);
}

#comment-header{
    padding-top: 40px;
   
}

#new-comment{
    font-size: 20px;
    margin-top: 15px !important;
}

#comment-text{
    font-size: 30px;
}

#comment{
    border-radius: var(--corners);
    border-style: solid;
    border-width: 2px;
    border-color: black;
    height: 200px;
    width: 100%;
    margin: auto;
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
}

#comment-text{
    font-size: 30px;
}

.comment-section{
    height: 350px;
    /* background-color: #33bc9d; */
    overflow: scroll;
    overflow-x: hidden;
}


/* FOOTER */
#footer {
    height: 300px;
    background-color: var(--clr-second);
    color: white;
  }
  
  .title2{
    padding-top: 30px;
    color: var(--clr-light);
    text-shadow: 1px 1px var(--clr-dark);
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;
  }